.formGroup {
  display: flex;
  flex-direction: column;
}

.formInput {
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 0;
  border: 1px solid #000;
}

.formButton {
  margin-top: 0.5rem;
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
